.title {
font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
.wrapper {
  margin:auto;
  width: 80%;
}
.logo, .menu {
  display: inline-block;
}
 .logo {
  position: relative;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}

.logo__circle_color_dark-blue {
background: #0056EC;
border-radius: 50%;
}
.logo__circle_color_blue {
left: 8px;
top: 56%;
background: #C8DBFB;
border-radius: 50%;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 206px;
}
.menu {
display: flex;
align-items: center;
}
.menu__item {
position: relative;
margin-right: 26px;
font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
color: #000;
text-decoration: none;
}
.menu__item_active::after {
position:absolute;
display: block;
content: '';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;
opacity: 0;
transition: opacity .5s, width .5s;
}
.menu__item:last-child {
margin-right: 0;
}

.menu__item:hover {
opacity: 0.5
}
.menu__item:hover:after {
position: absolute;
left: 0;
display: block;
content: '';
width: 100%;
height: 3px;
background: #00AD9F;
}
.menu__item:hover:after, .menu__item_active:after {
opacity: 1;
}

.main {
  padding: 0 67% 210px 0;
  background: top right no-repeat url(img/main.svg);
}

.main__title {
margin-bottom: 0 0 40px 0;
font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
}

.main__title_text {
  background: #ECF3FF;
}

.main__subtitel {
font: normal 22px/26px Roboto, arial, helvetica, sans-serif;
margin-bottom: 0 0 41px 0;
}

.main__button {
display: inline-block;
font: 18px/21px Roboto, arial, helvetica, sans-serif;
color: #fff;
background: #0056EC;
padding: 18px 21px;
text-decoration:none;
border-radius: 4px;
transition: opacity .5s
}

.main__button:hover {
opacity: .5;
background: #00AD9F;
}
